doctype html
html
    head
        title Computing Club Email Blast
        include browser_dependencies.pug
        link(rel='stylesheet' href=`${dir.CSS}/blast.entrypoint.css`)
        script(src=`${dir.SRC}/blast.entrypoint.js`)
    body
        div(class='jumbotron')
            h1 Computing Club Email Blast
        nav(class='navbar navbar-inverse')
            div(class='container-fluid')
                ul(class='nav navbar-nav')
                    li #[a(href='#') Home]
                    li #[a(href='#') Content]
                    li #[a(href='#') Settings]
                    li #[a(href='#') Send]
