doctype html
html
    head
        title #{process.env.APPNAME}
        include browser_dependencies.pug
        link(rel='stylesheet' href=`${process.env.CSS}/entrypoint.css`)
        script(src=`${process.env.SRC}/entrypoint.js`)
    body
        .jumbotron#region_header
            h1 #{process.env.APPNAME}
        nav.navbar.navbar-inverse#region_navbar
            .container-fluid
                ul.nav.navbar-nav
                    li#nav_briefing #[a(href='#') Briefing]
                    li#nav_content #[a(href='#') Content]
                    li#nav_authentication #[a(href='#') Authentication]
                    li#nav_send #[a(href='#') Send]
        .container-fluid#region_main
            #tab_briefing
            #tab_content
                #editor_blast.editor
                    include edm_defaults.json
                #editor_blast_html.editor
            #tab_authentication
                form.form-horizontal
                    .form-group
                        label.control-label.col-sm-2(for='auth_host') Email Host:
                        .col-sm-10
                            input#auth_host.form-control(type='text', placeholder='Enter the hostname of the SMTP server to use.', value='mailauth.comp.nus.edu.sg').
                    .form-group
                        label.control-label.col-sm-2(for='auth_port') Port:
                        .col-sm-10
                            input#auth_port.form-control(type='text', placeholder='Enter the port used by the SMTP server specified above.', value=25)
                    .form-group
                        label.control-label.col-sm-2(for='auth_secure') Secure:
                        .col-sm-10
                            input#auth_secure(type='checkbox' value='')
                    .form-group
                        label.control-label.col-sm-2(for='auth_username') Username:
                        .col-sm-10
                            input#auth_username.form-control(type='text', placeholder='Enter your username for the SMTP server specified above.')
                    .form-group
                        label.control-label.col-sm-2(for='auth_password') Password:
                        .col-sm-10
                            input#auth_password.form-control(type='password', placeholder='Enter the password corresponding to your username above.')
            #tab_send
                .form.form-horizontal
                    .form-group
                        label.control-label.col-sm-2(for='send_from_name') Sender name:
                        .col-sm-10
                            input#send_from_name.form-control(type='text', value="NUS Students' Computing Club Management Committee")
                    .form-group
                        label.control-label.col-sm-2(for='send_from_email') Sender email address:
                        .col-sm-10
                            input#send_from_email.form-control(type='email', placeholder='Enter the email address to blast from.')
                    .form-group
                        label.control-label.col-sm-2(for='send_to_name') Recipient name:
                        .col-sm-10
                            input#send_to_name.form-control(type='text', value="NUS Students' Computing Club Members")
                    .form-group
                        label.control-label.col-sm-2(for='send_to_email') Recipient email address:
                        .col-sm-10
                            input#send_to_email.form-control(type='email', placeholder='Enter the email address to blast to.', value='undergrad-l@comp.nus.edu.sg')
                    .form-group
                        label.control-label.col-sm-2(for='send_bcc') BCC:
                        .col-sm-10
                            input#send_bcc.form-control(type='email', value='marketing@nuscomputing.com')
                    .form-group
                        label.control-label.col-sm-2(for='send_replyTo_name') Reply-to recipient name:
                        .col-sm-10
                            input#send_replyTo_name.form-control(type='text', value='General Secretariat')
                    .form-group
                        label.control-label.col-sm-2(for='send_replyTo_email') Reply-to email address:
                        .col-sm-10
                            input#send_replyTo_email.form-control(type='email', value='secretariat@nuscomputing.com')
                    .form-group
                        label.control-label.col-sm-2(for='send_subject') Email subject:
                        .col-sm-10
                            input#send_subject.form-control(type='email', placeholder='Enter the email subject.', value='[Comp Club] INSERT_SUBJECT_HERE')
                    .form-group
                        .col-sm-2
                        .col-sm-10
                            button#blast.btn.btn-danger(type='button' value='') BLAST
