# Force LF for all platforms
*.sh text eof=lf
*.js text eof=lf
*.pug text eof=lf
*.css text eof=lf
*.html text eof=lf
*.json text eof=lf
*.xml text eof=lf

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
